name: GitHub-Profile-Summary-Cards

on:
  push:
    branches: ["main"]
    paths:
      - "README.md"
      - ".github/workflows/profile-summary-cards.yml"
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    if: github.actor != 'github-actions[bot]'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          USERNAME: 26zl
          UTC_OFFSET: 2
          EXCLUDE: ""
          AUTO_PUSH: true
